$background-color: #d40105;

#contato {
  height: 115vh;
  width: 99vw;

  background: $background-color;

  padding-top: 42px;
  

  #titulo {
    height: 98px;
    width: 408px;

    border-radius: 0 50px 50px 0;
    box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    

    h1 {
      color: rgba(210, 1, 5, 0.88);
      font-size: 50px;
      font-weight: 300;

      margin-left: 50px;
    }
  }

  #generic-container-contato {
    display: flex;
    #esquerda {
      width: 50%;

      #contato-main {
        #mapa-endereco {
          #mapa {
            border: 30px;

            margin-top: 60px;
            margin-left: 78px;

            iframe {
              border-radius: 5px;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }

          #endereco {
            width: 652px;
            height: 215px;

            background: white;
            border-radius: 5px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

            margin-top: 44px;
            margin-left: 78px;

            padding: 30px;

            font-size: 20px;

            img {
              margin-right: 30px;
            }

            #telefone,
            #email {
              margin-top: 15px;
            }
          }
        }
      }
    }

    #direita {
      width: 50%;

      padding-left: 78px;

      #formulario-redes {
        #formulario {
          margin-top: 31px;
          form {
            display: flex;
            flex-direction: column;

            #nome-form,
            #email-form,
            #tel-form,
            #mens-form {
              width: 499px;
              height: 49px;

              background: #ffffff;
              border: 0;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 10px;

              margin-top: 27px;
            }

            #mens-form{
                height: 151px;
            }

            #enviar-button {
              width: 140px;
              height: 56px;

              margin-top: 27px;
              margin-left: 359px;

              background: #02447e;
              border: none;
              box-shadow: -2px 7px 4px rgba(0, 0, 0, 0.25);
              border-radius: 50px;

              color: rgba(255, 255, 255, 0.88);

              font-size: 25px;
            }
          }
        }
      }
    }

    #redes{
        margin-top: 30px;
        margin-left: 260px;
        
        img{
            margin-right: 13px;
        }
    }
  }
}

footer {
  height: 116px;
  width: 99vw;

  background: #011351;
  box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
}
