#estrutura-escolar {
  height: auto;
  width: 100vw;

  h1 {
    font-size: 6.5rem;
    font-weight: 400;

    margin-left: 6.5%;
    padding-bottom: 72px;
    padding-top: 153px;

    span{
      text-decoration: underline #7AAAD0;
      text-underline-offset: 11px;
    }

    @media (max-width: 500px){
      font-size: 4rem;
    }


  }

  #estrutura-escolar-fotos {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 25px;

    @media (max-width: 841px){
      display: none;
    }

    #foto-overlay {
      position: absolute;
      top: 0;
      left: 4px;
      width: 98.05%;
      height: 100%;

      opacity: 0;
      transition: opacity 0.25s;

      &:hover{
        opacity: 1;
      }

      display: flex;
      align-items: flex-end;


      p {
        height: 80px;
        width: 100%;
        background: rgba(210, 1, 5, 0.8);
        border-radius: 5px;

        color: white;
        font-size: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 11px;

        text-transform: uppercase;
      }
    }

    #container-foto-overlay {
      position: relative;

      

      #img {
        display: block;
        width: 100%;
      }
    }
  }

  #estrutura-escolar-fotos-mobile{
    display: none;

    .swiper3{
      overflow: hidden;

      .swiper-wrapper{
        .swiper-slide{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .swiper-pagination3{
        text-align: center;

      }
    }

    @media (max-width: 841px){
      display: initial;
    }
  }
}
