footer {
    height: 116px;
    width: 100vw;
  
    background: #011351;
    box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 2.5rem;
  }