#home{
    height: 99vh;
    width: 99vw;

    .swiper {
        height: 100%;
        width: 100%;

        .swiper-button-prev{
            background-color: rgba(255, 255, 255, 0.418);
        }

        }
    

}




