$yellow: #f1c40f;

#home {
  height: 99vh;
  width: 100vw;

  .swiper1 {
    height: 100%;
    width: 100%;

    overflow: hidden;

    .swiper-wrapper {
      #slide01 {
        background-image: url(/img/home/BG1.svg);
        background-position: center;
        background-size: cover;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);

        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;

        h1 {
          color: white;

          font-family: Poppins;
          font-size: 7rem;
          font-weight: 300;

        }

        a {
          height: 10rem;
          width: 38.1rem;

          background: #327fbd;
          border-radius: 10px;
          box-shadow: 0 0 40px 40px #327fbd inset, 0 0 0 0 #327fbd, 0px 4px 4px rgba(0, 0, 0, 0.25);
          -webkit-transition: all 150ms ease-in-out;

          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 40px;
          font-weight: 300;
          color: white;

          margin-top: 7rem;

          text-decoration: none;


          transition: all 150ms ease-in-out;
          
          &:active {
            transform: translateY(4px);
          }

          &:hover {
            box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
          }
        }
      }
    }

    .swiper-button-prev {
      width: 8rem;
      height: 8rem;

      background: rgba(255, 255, 255, 0.24);
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      color: gray;

      margin-left: -20px;

      &:active {
        transform: translateY(4px);
      }
    }

    .swiper-button-next {
      width: 8rem;
      height: 8rem;

      background: rgba(255, 255, 255, 0.24);
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      color: gray;

      margin-right: -20px;

      &:active {
        transform: translateY(4px);
      }
    }
  }
}
