#modalidades-ensino {
  height: 100vh;
  width: 99vw;

  padding-top: 52px;

  background-color: #d20105;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  #titulo-modalidades {
    height: 98px;
    width: 54.5%;

    border-radius: 0 50px 50px 0;
    box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: rgba(210, 1, 5, 0.88);
      font-size: 3.5rem;
      font-weight: 300;

      margin-left: 12.5%;

      @media (max-width: 1245px) {
        font-size: 3rem;
      }

      @media (max-width: 990px) {
        font-size: 2rem;
      }
    }
  }

  #generic-container-modalidades {
    @media (max-width: 990px) {
      display: none;
    }
    #card-modalidades-containers {
      display: flex;
      gap: 30px;

      justify-content: center;
      align-items: center;

      margin-top: 67px;
      .card-modalidades {
        width: 328px;
        height: 344px;
        background-color: white;

        box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;

        padding: 40px;

        h2 {
          font-size: 2.2rem;
          font-weight: normal;
          margin-top: 10px;
        }

        .card-modalidades-inside-container {
          font-size: 1.4rem;

          color: #737373;
          margin-top: 50px;

          width: 221px;
        }
      }
    }
  }

  #generic-container-modalidades-mobile {
    display: none;

    @media (max-width: 990px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 67px;

      .swiper-container {
        &.swiper2 {
          width: 240px;
          height: 320px;
        }

        .swiper-slide {
          &.teste {
            width: 328px;
            height: 344px;
            background-color: white;

            box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 10px;

            padding: 40px;

            h2 {
              color: black;
              font-size: 2.2rem;
              font-weight: normal;
              margin-top: 10px;
            }
            .card-modalidades-inside-container {
              font-size: 1.4rem;

              color: #737373;
              margin-top: 50px;

              width: 221px;
            }
          }
        }
      }
    }
  }

  #generic-container-quadrado {
    height: 20vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    #generic-quadrado {
      width: 140px;
      height: 22px;

      background: #ffffff;
      box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;

      margin-right: 26px;
    }
  }
}
