#modalidades-ensino {
  height: 100vh;
  width: 100vw;

  background-color: #d20105;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  #titulo-modalidades {
    height: 98px;
    width: 806px;

    border-radius: 0 50px 50px 0;
    box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);

    background: white;

    margin-top: 63px;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: rgba(210, 1, 5, 0.88);
      font-size: 35px;
      font-weight: 300;

      margin-left: 100px;
    }
  }

  #generic-container-modalidades {
    #card-modalidades-containers {
      display: flex;
      gap: 30px;

      justify-content: center;
      align-items: center;

      margin-top: 67px;
      .card-modalidades {
        width: 328px;
        height: 344px;
        background-color: white;

        box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;

        padding: 40px;

        h2{
          font-size: 22px;
          font-weight: normal;
          margin-top: 10px;
        }

        .card-modalidades-inside-container{
          font-size: 14px;  

          color: #737373;
          margin-top: 50px;

          width: 221px;
          
          
        }
      }
    }
  }
}
