@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
#home {
  height: 110vh;
  width: 99vw;
}

#home .swiper {
  height: 100%;
  width: 100%;
}

#home .swiper .swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.418);
}

#modalidades-ensino {
  height: 100vh;
  width: 99vw;
  padding-top: 52px;
  background-color: #d20105;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#modalidades-ensino #titulo-modalidades {
  height: 98px;
  width: 806px;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modalidades-ensino #titulo-modalidades h1 {
  color: rgba(210, 1, 5, 0.88);
  font-size: 35px;
  font-weight: 300;
  margin-left: 100px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 67px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers .card-modalidades {
  width: 328px;
  height: 344px;
  background-color: white;
  -webkit-box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 40px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers .card-modalidades h2 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers .card-modalidades .card-modalidades-inside-container {
  font-size: 14px;
  color: #737373;
  margin-top: 50px;
  width: 221px;
}

#quem-somos {
  height: 115vh;
  width: 99vw;
}

#quem-somos #quem-somos-generic-container h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 65px;
  font-weight: 400;
  margin-top: 136px;
  margin-left: 100px;
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container #left-quem-somos-container {
  width: 50%;
  margin-left: 91px;
  padding-top: 71px;
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container #left-quem-somos-container p {
  width: 653px;
  height: 330px;
  text-align: justify;
  font-size: 20px;
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container #right-quem-somos-container {
  width: 50%;
}

#contato {
  height: 115vh;
  width: 99vw;
  background: #d40105;
  padding-top: 42px;
}

#contato #titulo {
  height: 98px;
  width: 408px;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contato #titulo h1 {
  color: rgba(210, 1, 5, 0.88);
  font-size: 50px;
  font-weight: 300;
  margin-left: 50px;
}

#contato #generic-container-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contato #generic-container-contato #esquerda {
  width: 50%;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #mapa {
  border: 30px;
  margin-top: 60px;
  margin-left: 78px;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #mapa iframe {
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco {
  width: 652px;
  height: 215px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 44px;
  margin-left: 78px;
  padding: 30px;
  font-size: 20px;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco img {
  margin-right: 30px;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco #telefone,
#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco #email {
  margin-top: 15px;
}

#contato #generic-container-contato #direita {
  width: 50%;
  padding-left: 78px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario {
  margin-top: 31px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #nome-form,
#contato #generic-container-contato #direita #formulario-redes #formulario form #email-form,
#contato #generic-container-contato #direita #formulario-redes #formulario form #tel-form,
#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form {
  width: 499px;
  height: 49px;
  background: #ffffff;
  border: 0;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 27px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form {
  height: 151px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #enviar-button {
  width: 140px;
  height: 56px;
  margin-top: 27px;
  margin-left: 359px;
  background: #02447e;
  border: none;
  -webkit-box-shadow: -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.88);
  font-size: 25px;
}

#contato #generic-container-contato #redes {
  margin-top: 30px;
  margin-left: 260px;
}

#contato #generic-container-contato #redes img {
  margin-right: 13px;
}

footer {
  height: 116px;
  width: 99vw;
  background: #011351;
  -webkit-box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

#instagram {
  height: 100vh;
  width: 99vw;
  background: white;
}

#estrutura-escolar {
  height: 100vh;
  width: 99vw;
}

#estrutura-escolar h1 {
  font-size: 65px;
  font-weight: 400;
  margin-left: 100px;
  padding-bottom: 72px;
}

#estrutura-escolar #estrutura-escolar-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

#estrutura-escolar #estrutura-escolar-fotos #foto-quadra #quadra:hover {
  border: 1px solid red;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

* li {
  list-style: none;
}

* li a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 116px;
  width: 99vw;
  background: #d40105;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #logo {
  width: 111px;
  margin: 15px 0 0 120px;
}

header nav #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

header nav #menu :last-child {
  padding-right: 26px;
}

header nav #menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #menu li a:hover {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  padding: 10px;
}

main {
  height: 800%;
}
/*# sourceMappingURL=main.css.map */