.main-container{
    width: 100%;
    /* height: 120vh; */
    
    background: linear-gradient(292.27deg, #114370 -3.36%, #256296 67.15%, #327FBD 102.41%);
}
.tittle h1{
    font-size: 5.5rem;
    color: white;
}
.border{
    width: 1%;
    height: 10vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tittle{
    display: flex;
    align-items: center;
    gap: 1%;
    margin-left: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    flex-wrap: wrap;
    margin-bottom: 8%;
}
.cards-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7AAAD0;
    width: 20%;
    height: 415px;
    max-width: 290px;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cards-servico a{
    width: 110%;
}
.cards-servico button{
    width: 115%;
    font-size: 4rem;
    border-radius: 10px;
    border: none;
    margin-left: -8%;
    padding: 20px 0px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    color: #011351;
}
.padding{
    padding-top: 30px;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 11.5%;
    margin-bottom: 10%;
}
.btn-container button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    background: #FFFFFF99;
    width: 20%;
    font-size: 3.5rem;
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #02447E;
    max-width: 290px;
}

@media (max-width: 1280px){
    .btn-container{
        margin-top: 18%;
    }
    .cards-servico button{
        font-size: 3.5rem;
    }
}

@media (max-width: 1025px){
    .cards-servico h3{
        font-size: 30px;
    }
    .cards-servico img{
        width: 110%;
        height: 100%;
    }
    .cards-servico{
        width: 20%;
    }
    .btn-container{
        margin-top: 20%;
        margin-bottom: 15%;
    }
    .btn-container button{
        width: 25%;
    }
}
@media (max-width: 768px){
    .mobile img{
        display: none;
    }
    .mobile{
        background: none;
        margin-top: 5%;
    }
    .cards{
        flex-direction: column;
    }
    .cards-servico{
        width: 50%;
        height: auto;
    }
    .cards-servico button{
        padding: 35px 0;
    }
    .btn-container button{
        width: 35%;
    }
}
@media (max-width: 425px){
    .cards-servico{
        width: 100%;
    }
    .btn-container button{
        width: 65%;
    }
}
@media (max-width: 375px){
    .cards-servico{
        width: 70%;
    }
    .cards-servico img{
        width: 120%;
        height: 100%;
    }
}

@media (max-width: 320px){
    .btn-container button{
        width: 80%;
    }
}
