@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

$background-color: #D40105;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    list-style: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  button {
    cursor: pointer;
  }

  textarea:focus,
  input:focus,
  select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }
}

html {
  /* a cada 1rem será consideredo 10px */
  font-size: 62.5%;

  overflow-x: hidden;
}

main {
  height: auto;
  background: linear-gradient(
    292.27deg,
    #114370 -3.36%,
    #256296 67.15%,
    #327fbd 102.41%
  );

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  height: 116px;
  width: 100vw;

  background: $background-color;

  nav {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
      width: 30%;
      margin: 1.5rem 0 0 9%;
      

      @media (max-width: 990px) {
        width: 100%;
        display: flex;
        justify-content: center;

        margin: 1.5rem 0 0 70px;


      }
    }

    #btn-mobile-menu {
      display: none;

      @media (max-width: 990px) {
        display: initial;
        margin-right: 20px;
      }

      div {
        height: 2px;
        width: 32px;

        border-radius: 2px;
        background: #fff;

        margin: 8px;
      }
    }

    #menu {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;

      //Estilização do botão ativo
      .active {
        width: 102.92px;
        height: 54.49px;
        left: 407px;
        top: 31px;

        background: #ffffff!important;
        border-radius: 5px;

        color: #d20105;
      }

      @media (max-width: 1270px) {
        gap: 4rem;
      }

      @media (max-width: 1108px) {
        gap: 2rem;
      }

      @media (max-width: 990px) {
        position: absolute;
        top: 115px;

        width: 100%;
        height: 100vh;

        display: none;

        flex-direction: column;

        background: rgba(210, 1, 5, 0.88);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 10px 10px;

        font-size: 2.5rem;
        font-weight: 700;

        z-index: 999;
      }

      // Classe para menu mobile
      &.active {
        display: flex;
      }

      button {
        background: none;
        border: none;
        color: white;

        font-size: 2rem;
        font-weight: 400;


        a {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 54.49px;
          width: 102.92px;

          &:hover {
            background: rgba(255, 255, 255, 0.22);
            border-radius: 5px;
            transition: 0.3s ease;
          }
        }
      }

      div {
        button {
          height: 54.49px;
          width: 102.92px;
          span {
            &:hover {
              height: 54.49px;
              width: 102.92px;

              display: flex;
              justify-content: center;
              align-items: center;

              background: rgba(255, 255, 255, 0.22);
              border-radius: 5px;
              transition: 0.3s ease;
            }
          }
        }
      }

      #botao-portal {
        width: 20rem;
        height: 63px;

        background: #02447e;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        margin-right: 20px;


        &:hover {
          background: #074c88;
          transition: 0.3s ease;
        }

        &:active {
          transform: translateY(4px);
        }

        @media (max-width: 1270px) {
          width: 15rem;
          height: 50px;
        }

        @media (max-width: 990px) {
          width: 20rem;
        }

        a {
          height: 100%;
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    #menu-mobile {
      display: none;

      @media (max-width: 990px) {
        position: absolute;
        top: 115px;

        width: 100%;
        height: 100vh;

        background: rgba(210, 1, 5, 0.88);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 10px 10px;

        display: none;

        flex-direction: column;

        font-size: 2.5rem;
        font-weight: 700;

        z-index: 999;

        #menu-mobile-container{
          height: auto;

          #home-btn{
            padding-top: 30px;
          }

          .generic-container-mobile{
            display: flex;

            button{
              margin-right: 20px;

              @media (max-width: 419px){
                margin-right: 40px;
              }
            }

            img{
              height: fit-content;
            }
          }

          #dropdown-servicos-mobile{
            display: none;

            button{
              width: 40%;
              margin-left: 120px;

              font-size: 2rem;
              font-weight: 300;

              padding-bottom: 20px;
            }

            &.active{
              display: initial;
            }

          }

          #dropdown-eventos-mobile{
            display: none;

            button{
              width: 40%;
              margin-left: 120px;

              font-size: 2rem;
              font-weight: 300;

              padding-bottom: 20px;
            }

            &.active{
              display: initial;
            }

          }

          button {
            width: 20%;

            background: none;
            border: none;


            color: white;

            display: flex;

            padding-bottom: 30px;
    
            font-size: 2.5rem;
            font-weight: 700;
    
            margin-left: 100px;

            text-align: start;

          }

          
    .servicos,
    .eventos {
      position: relative;

      z-index: 99;

      select{
        width: 20%;
        height: 70px;

        background: none;

        color: white;

        font-size: 2.5rem;
        font-weight: 700;

        margin-left: 100px;
        margin-top: -50px;
        margin-bottom: 15px;

        appearance: none;
        border: 1px solid var(--baseFg);
        background-image: url(/img/index/seta.svg);   /* Add custom arrow */
        background-repeat: no-repeat;
        background-position: right;

        option {
          background-color: $background-color;

          color: white;
  
          font-size: 15px;
          font-family: Nunito;
          font-weight: bold;

          a{
            padding: 20px;
          }
  
        }

      }

    }

        }

        #botao-portal-container{
          height: auto;

          display: flex;
          justify-content: center;
          

          #botao-portal {
            width: 25rem;
            height: 63px;
    
            background: #011351;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            border: none;
            border-radius: 10px;


            color: white;

            font-size: 2.5rem;
            font-weight: 700;

            a {
              height: 100%;
              width: 100%;
    
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      // Classe para menu mobile
      &.active {
        display: flex;
      }
    }

    .servicos,
    .eventos {
      position: relative;

      z-index: 99;

      ul {
        width: 172.09px;

        background-color: $background-color;

        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        color: white;

        font-size: 15px;
        font-family: Nunito;
        font-weight: bold;

        margin-top: 30px;
        right: -46px;

        position: absolute;

        text-align: center;

        opacity: 0;
        pointer-events: none;

        transform: translateY(-8px);
        transition: all 0.6s ease;

        &.activedrop {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0px);
        }

        li {
          a {
            height: 60px;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background: rgba(255, 255, 255, 0.22);
              border-radius: 5px;
              transition: 0.3s ease;
            }

            @media (max-width: 990px){

            }
          }
        }
      }
    }
  }
}

footer {
  height: 116px;
  width: 100vw;

  background: #011351;
  box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;

  @media (max-width: 547px) {
    height: 90px;
    font-size: 2rem;
  }

  @media (max-width: 439px) {
    height: 70px;
    font-size: 1.5rem;
  }

  @media (max-width: 351px) {
    height: 65px;
    font-size: 1.3rem;
  }
}
