@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

* a {
  color: inherit;
  text-decoration: none;
}

* li {
  list-style: none;
}

* li a {
  color: inherit;
  text-decoration: none;
}

* button {
  cursor: pointer;
}

* textarea:focus,
* input:focus,
* select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

html {
  /* a cada 1rem será consideredo 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

main {
  height: auto;
  background: linear-gradient(292.27deg, #114370 -3.36%, #256296 67.15%, #327fbd 102.41%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header {
  height: 116px;
  width: 100vw;
  background: #D40105;
}

header nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #logo {
  width: 30%;
  margin: 1.5rem 0 0 9%;
}

@media (max-width: 990px) {
  header nav #logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.5rem 0 0 70px;
  }
}

header nav #btn-mobile-menu {
  display: none;
}

@media (max-width: 990px) {
  header nav #btn-mobile-menu {
    display: initial;
    margin-right: 20px;
  }
}

header nav #btn-mobile-menu div {
  height: 2px;
  width: 32px;
  border-radius: 2px;
  background: #fff;
  margin: 8px;
}

header nav #menu {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #menu .active {
  width: 102.92px;
  height: 54.49px;
  left: 407px;
  top: 31px;
  background: #ffffff !important;
  border-radius: 5px;
  color: #d20105;
}

@media (max-width: 1270px) {
  header nav #menu {
    gap: 4rem;
  }
}

@media (max-width: 1108px) {
  header nav #menu {
    gap: 2rem;
  }
}

@media (max-width: 990px) {
  header nav #menu {
    position: absolute;
    top: 115px;
    width: 100%;
    height: 100vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(210, 1, 5, 0.88);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 999;
  }
}

header nav #menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav #menu button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

header nav #menu button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54.49px;
  width: 102.92px;
}

header nav #menu button a:hover {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav #menu div button {
  height: 54.49px;
  width: 102.92px;
}

header nav #menu div button span:hover {
  height: 54.49px;
  width: 102.92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav #menu #botao-portal {
  width: 20rem;
  height: 63px;
  background: #02447e;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 20px;
}

header nav #menu #botao-portal:hover {
  background: #074c88;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav #menu #botao-portal:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 1270px) {
  header nav #menu #botao-portal {
    width: 15rem;
    height: 50px;
  }
}

@media (max-width: 990px) {
  header nav #menu #botao-portal {
    width: 20rem;
  }
}

header nav #menu #botao-portal a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #menu-mobile {
  display: none;
}

@media (max-width: 990px) {
  header nav #menu-mobile {
    position: absolute;
    top: 115px;
    width: 100%;
    height: 100vh;
    background: rgba(210, 1, 5, 0.88);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 999;
  }
  header nav #menu-mobile #menu-mobile-container {
    height: auto;
  }
  header nav #menu-mobile #menu-mobile-container #home-btn {
    padding-top: 30px;
  }
  header nav #menu-mobile #menu-mobile-container .generic-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #menu-mobile #menu-mobile-container .generic-container-mobile button {
    margin-right: 20px;
  }
}

@media (max-width: 990px) and (max-width: 419px) {
  header nav #menu-mobile #menu-mobile-container .generic-container-mobile button {
    margin-right: 40px;
  }
}

@media (max-width: 990px) {
  header nav #menu-mobile #menu-mobile-container .generic-container-mobile img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header nav #menu-mobile #menu-mobile-container #dropdown-servicos-mobile {
    display: none;
  }
  header nav #menu-mobile #menu-mobile-container #dropdown-servicos-mobile button {
    width: 40%;
    margin-left: 120px;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 20px;
  }
  header nav #menu-mobile #menu-mobile-container #dropdown-servicos-mobile.active {
    display: initial;
  }
  header nav #menu-mobile #menu-mobile-container #dropdown-eventos-mobile {
    display: none;
  }
  header nav #menu-mobile #menu-mobile-container #dropdown-eventos-mobile button {
    width: 40%;
    margin-left: 120px;
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 20px;
  }
  header nav #menu-mobile #menu-mobile-container #dropdown-eventos-mobile.active {
    display: initial;
  }
  header nav #menu-mobile #menu-mobile-container button {
    width: 20%;
    background: none;
    border: none;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 100px;
    text-align: start;
  }
  header nav #menu-mobile #menu-mobile-container .servicos,
  header nav #menu-mobile #menu-mobile-container .eventos {
    position: relative;
    z-index: 99;
  }
  header nav #menu-mobile #menu-mobile-container .servicos select,
  header nav #menu-mobile #menu-mobile-container .eventos select {
    width: 20%;
    height: 70px;
    background: none;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 100px;
    margin-top: -50px;
    margin-bottom: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid var(--baseFg);
    background-image: url(/img/index/seta.svg);
    /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right;
  }
  header nav #menu-mobile #menu-mobile-container .servicos select option,
  header nav #menu-mobile #menu-mobile-container .eventos select option {
    background-color: #D40105;
    color: white;
    font-size: 15px;
    font-family: Nunito;
    font-weight: bold;
  }
  header nav #menu-mobile #menu-mobile-container .servicos select option a,
  header nav #menu-mobile #menu-mobile-container .eventos select option a {
    padding: 20px;
  }
  header nav #menu-mobile #botao-portal-container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav #menu-mobile #botao-portal-container #botao-portal {
    width: 25rem;
    height: 63px;
    background: #011351;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
  }
  header nav #menu-mobile #botao-portal-container #botao-portal a {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header nav #menu-mobile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .servicos,
header nav .eventos {
  position: relative;
  z-index: 99;
}

header nav .servicos ul,
header nav .eventos ul {
  width: 172.09px;
  background-color: #D40105;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 15px;
  font-family: Nunito;
  font-weight: bold;
  margin-top: 30px;
  right: -46px;
  position: absolute;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

header nav .servicos ul.activedrop,
header nav .eventos ul.activedrop {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

header nav .servicos ul li a,
header nav .eventos ul li a {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .servicos ul li a:hover,
header nav .eventos ul li a:hover {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer {
  height: 116px;
  width: 100vw;
  background: #011351;
  -webkit-box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

@media (max-width: 547px) {
  footer {
    height: 90px;
    font-size: 2rem;
  }
}

@media (max-width: 439px) {
  footer {
    height: 70px;
    font-size: 1.5rem;
  }
}

@media (max-width: 351px) {
  footer {
    height: 65px;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */