$background-color: #d40105;

#contato {
  height: auto;
  width: 100vw;

  background: $background-color;

  padding-top: 42px;
  padding-bottom: 60px;

  #titulo {
    height: 98px;
    width: 27%;

    border-radius: 0 50px 50px 0;
    box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 841px){
        width: 40%;
    }

    @media (max-width: 611px){
      height: 85px;

      font-size: 4rem;
    }

    @media (max-width: 491px){
      width: 50%;
    }

    h1 {
      color: rgba(210, 1, 5, 0.88);
      font-size: 5rem;
      font-weight: 300;

      margin-left: 15%;

      @media (max-width: 611px){
        font-size: 4rem;
      }

      @media (max-width: 491px){
        font-size: 3.5rem;
      }
    }
  }

  #generic-container-contato {
    display: flex;

    @media (max-width:841px){
      flex-direction: column;
    }
    #esquerda {
      width: 50%;

      @media (max-width:841px){
        width: 95%;
      }

      #contato-main {
        #mapa-endereco {
          #mapa {
            border: 30px;

            margin-top: 60px;
            margin-left: 78px;

            iframe {
              border-radius: 5px;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }

          #endereco {
            height: auto;

            background: white;
            border-radius: 5px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

            margin-top: 44px;
            margin-left: 78px;

            padding: 30px;

            font-size: 2em;

            img {
              margin-right: 30px;
              width: 7%;
            }

            #telefone,
            #email {
              margin-top: 15px;
            }

            @media (max-width: 1105px){
              font-size: 1.9em;
            }

            @media (max-width: 885px){
              font-size: 1.7em;
            }
          }
        }
      }
    }

    #direita {
      width: 50%;

      padding-left: 78px;

      @media (max-width:841px){
        
        width: 100%;

        padding-left: initial;
      
      }

      #formulario-redes {

        @media (max-width:841px){
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #formulario {
          margin-top: 31px;

          @media (max-width: 841px){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
          
          form {
            display: flex;
            flex-direction: column;

            @media (max-width: 841px){

              width: 100%;
              padding-left: 15%;
            }

            #nome-form,
            #email-form,
            #tel-form,
            #mens-form {


              width: 75%;
              height: 49px;

              background: #ffffff;
              border: 0;
              box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 10px;

              margin-top: 27px;

              text-indent: 15px;
              
              font-size: 20px;

              &::placeholder {
                color: #C3BEBE;

                font-size: 25px;
                
                padding-left: 19px;
              }

            }

            #mens-form {
              height: 151px;
            }

            #enviar-button {
              width: 21%;
              height: 56px;

              margin-top: 27px;
              margin-left: 54%;

              background: #02447e;
              border: none;
              box-shadow: -2px 7px 4px rgba(0, 0, 0, 0.25);
              border-radius: 50px;

              color: rgba(255, 255, 255, 0.88);

              font-size: 2.5rem;

              @media (max-width: 541px){
                font-size: 2rem;

                width: 30%;
              }
            }
          }
        }
      }
    }

    #redes {
      margin-top: 30px;
      margin-left: 40%;

      img {
        width: 12%;
        margin-right: 13px;
      }
    }
  }
}
