#estrutura-escolar {

  height: auto;
  width: 100vw;

  h1 {
    font-size: 6.5rem;
    font-weight: 400;

    margin-left: 6.5%;
    padding-bottom: 72px;
    padding-top: 153px;

    .barra{
      height: 7px;
      width: 16%;
      border-radius: 50px;
      background-color: #7AAAD0;

    }

    @media (max-width: 500px){
      font-size: 4rem;

      padding-top: 100px
      ;
    }



  }

  #estrutura-escolar-fotos {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 25px;

    @media(min-width:1709px){
      margin-right: 200px;
    }

    @media (max-width: 841px){
      display: none;
    }

    #foto-overlay {
      position: absolute;
      top: 0;
      left: 4px;
      width: 98.05%;
      height: 100%;

      opacity: 0;
      transition: opacity 0.25s;

      &:hover{
        opacity: 1;
      }

      display: flex;
      align-items: flex-end;


      p {
        height: 80px;
        width: 100%;
        background: rgba(210, 1, 5, 0.8);
        border-radius: 5px;

        color: white;
        font-size: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 11px;

        text-transform: uppercase;
      }
    }

    #container-foto-overlay {
      position: relative;

      

      #img {
        display: block;
        width: 100%;
      }
    }
  }

  #estrutura-escolar-fotos-mobile{
    display: none;
        
    .swiper3{
      overflow: hidden;

      .swiper-wrapper{

        .swiper-slide{
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            @media(max-width: 410px){
              width: 100%;
            }
          }

        }
      }

      .swiper-pagination3{
        text-align: center;

      }
    }

    @media (max-width: 841px){
      display: initial;
    }
  }
}
