$tablet: 990px;
$firstmobile: 768px;

#eventos-fotos {
  height: auto;
  width: 100%;

  #container-eventos-fotos {
    padding-top: 148px;
    padding-left: 7%;

    #eventos-fotos-titulo {
      height: 120px;
      width: 564px;

      background-color: #d20105;

      color: white;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px 500px 0px 0px;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $tablet) {
        height: 100px;
      }

      @media (max-width: $firstmobile) {
        width: 80%;
      }

      h1 {
        font-size: 45px;
        font-weight: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media (max-width: $tablet) {
          font-size: 40px;
        }

        @media (max-width: 530px) {
          font-size: 35px;
        }

        @media (max-width: 376px) {
          font-size: 27px;
        }
      }
    }

    #container-generic-fotos {
      height: auto;
      width: 93.8%;

      background: linear-gradient(
        292.27deg,
        #02447e -3.36%,
        #256296 67.15%,
        #327fbd 102.41%
      );
      box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
      border-radius: 0px 10px 10px 10px;

      #container-fotos {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;

        gap: 19px;

        padding-top: 61px;

        a {

          &:first-child{
            display: none;
          }

          @media (max-width: 918px){
            &:nth-child(n + 5):nth-child(-n+7){
              display: none;
            }
          }

          @media (max-width: 496px){
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            height: 297px;
            width: 391px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

            @media (max-width: 496px){
              height: 90%;
              width: 80%;
              
            }

            &:hover {
              opacity: 1;
              -webkit-animation: flash 1.5s;
              animation: flash 1.5s;

              @keyframes flash {
                0% {
                  opacity: 0.4;
                }
                100% {
                  opacity: 1;
                }
              }
            }


          }
        }
      }
    }

    #container-button {
      height: 130px;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      button {
        height: 63px;
        width: 200px;

        background: #d20105;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        border: none;

        color: white;

        font-weight: bold;
        font-size: 20px;

        &:hover {
          background: #e72427;
          transition: 0.3s ease;
        }

        &:active {
          transform: translateY(4px);
        }
      }
    }
  }
}
