$yellow: #f1c40f;

#home {
  height: 99vh;
  width: 100vw;

  .swiper1 {
    height: 100%;
    width: 100%;

    overflow: hidden;

    .swiper-wrapper {
      #slide01 {
        background-image: url(./img/index/home/bg1.svg);

        background-size: cover;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);

        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;



        h1 {
          color: white;

          font-family: Poppins;
          font-size: 7rem;
          font-weight: 300;

          @media(max-width: 980px){
            width: 100%;

            display: flex;
            justify-content: center;
            font-size: 6rem;
          }

          @media(max-width: 867px){
            font-size: 5rem;
          }

          @media(max-width: 759px){
            font-size: 4rem;
          }

          @media(max-width: 629px){
            width: 50%;

            font-size: 5rem;
          }


        }

        a {
          height: 10rem;
          width: 38.1rem;

          background: #327fbd;
          border-radius: 10px;
          box-shadow: 0 0 40px 40px #327fbd inset, 0 0 0 0 #327fbd, 0px 4px 4px rgba(0, 0, 0, 0.25);
          -webkit-transition: all 150ms ease-in-out;

          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 40px;
          font-weight: 300;
          color: white;

          margin-top: 7rem;

          text-decoration: none;


          transition: all 150ms ease-in-out;
          
          &:active {
            transform: translateY(4px);
          }

          &:hover {
            box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
            font-size: 44px;
          }

          @media(max-width: 867px){
            height: 8rem;
            width: 35rem;
          }
          @media(max-width: 629px){
            height: 6rem;
            width: 25rem;

            font-size: 30px;
          }
        }
      }

      #slide02{
        background-image: url(../img/index/home/bg2.png);
        background-position: center;
        background-size: cover;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
      }

      #slide03{
        background-image: url('../img/index/home/bg3.png');
        background-position: center;
        background-size: cover;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
      }
    }

    .swiper-button-prev {
      height: 8rem;
      width: 8rem;

      background: rgba(255, 255, 255, 0.24);
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      color: gray;

      margin-left: -20px;

      &:active {
        transform: translateY(4px);
      }

      @media(max-width: 867px){
        width: 6rem;
      }

      @media(max-width: 629px){
        height: 6rem;

        margin-top: 10px;
      }

      @media(max-width: 491px){
        display: none;

      }
    }

    .swiper-button-next {
      height: 8rem;
      width: 7rem;


      background: rgba(255, 255, 255, 0.24);
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 10px 0 0 10px ;

      color: gray;

      margin-right: -10px;

      &:active {
        transform: translateY(4px);
      }

      @media(max-width: 867px){
        width: 6rem;
      }

      @media(max-width: 629px){
        height: 6rem;

        margin-top: 10px;
      }

      @media(max-width: 491px){
        display: none;

      }
    }
  }
}
