#instagram {
  height: auto;
  width: 100%;

  background: white;

  padding-bottom: 67px;

  h1 {
    font-size: 6.5rem;
    font-weight: 400;

    margin-left: 6.5%;
    padding-bottom: 72px;
    padding-top: 153px;

    .barra{
      height: 7px;
      width: 16%;
      border-radius: 50px;
      background-color: #7AAAD0;

    }

    @media (max-width: 500px) {
      font-size: 4rem;
    }
  }

  #container-generic {
    display: flex;
    justify-content: center;
    #nosso-instagram-fotos {
      display: flex;
      justify-content: center;

      flex-wrap: wrap;

      gap: 27px;

      a {
        img {
          height: 337px;
          width: 368px;

          border-radius: 10px;

          &:hover {
            opacity: 1;
            -webkit-animation: flash 1.5s;
            animation: flash 1.5s;

            @keyframes flash {
              0% {
                opacity: 0.4;
              }
              100% {
                opacity: 1;
              }
            }
          }
        }
      }

      @media (min-width: 1709px) {
        width: 80%;
      }

      @media (max-width: 841px) {
        display: none;
      }
    }
  }

  #container-generic-mobile{
    #nosso-instagram-fotos-mobile {
      display: none;

      .swiper4 {
        overflow: hidden;

        .swiper-wrapper {
          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              @media (max-width: 410px) {
                width: 100%;
              }
            }
          }
        }

        .swiper-pagination4 {
          text-align: center;
        }
      }

      @media (max-width: 841px) {
        display: initial;
      }
    }
  }
}
