#modalidades-ensino {
  height: auto;
  width: 100vw;

  padding-top: 52px;

  background-color: #d20105;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  #titulo-modalidades {
    height: 98px;
    width: 54.5%;

    border-radius: 0 50px 50px 0;
    box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: rgba(210, 1, 5, 0.88);
      font-size: 3.5rem;
      font-weight: 300;

      margin-left: 12.5%;

      @media (max-width: 1245px) {
        font-size: 3rem;
      }

      @media (max-width: 990px) {
        font-size: 2rem;
      }
    }
  }

  #generic-container-modalidades {
    @media (max-width: 990px) {
      display: none;
    }

    .divi {
      height: 2px;
      width: 50px;

      background: #e74040;

      margin-top: 20px;
    }

    #card-modalidades-containers {
      display: flex;
      gap: 30px;

      justify-content: center;
      align-items: center;

      margin-top: 67px;

      .card-modalidades {
        width: 328px;
        height: 344px;
        background-color: white;

        box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;

        padding: 40px;

        #img {
          height: 72px;
          width: 72px;

          background: #02447e;
          border-radius: 200px;

          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 100%;
            width: 100%;

            border-radius: 200px;
          }
        }

        h2 {
          font-size: 2.2rem;
          font-weight: normal;
          margin-top: 10px;
        }

        .card-modalidades-inside-container {
          font-size: 1.4rem;

          color: #737373;
          margin-top: 50px;

          p {
            height: 80px;
            width: 260px;

            padding-right: 50px;

            overflow-y: auto;
            
            &::-webkit-scrollbar{
                width: 12px;      
            }

            &::-webkit-scrollbar-track{
              background: rgba(128, 128, 128, 0.233); 
              border-radius: 20px; 
            }

            &::-webkit-scrollbar-thumb{
              background-color: #d20105;    /* color of the scroll thumb */
              border-radius: 20px;       /* roundness of the scroll thumb */
              border: 3px solid rgba(128, 128, 128, 0.233);
            }
          }
        }
      }
    }
  }

  #generic-container-modalidades-mobile {
    display: none;

    padding-bottom: 40px;

    @media (max-width: 990px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 67px;

      .swiper-container {
        &.swiper2 {
          width: 240px;
          height: 320px;
        }

        .swiper-slide {
          &.teste {
            width: 328px;
            height: 344px;
            background-color: white;

            box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 10px;

            padding: 40px;

            #img {
              height: 72px;
              width: 72px;

              background: #02447e;
              border-radius: 200px;

              display: flex;
              justify-content: center;
              align-items: center;

              img {
                height: 100%;
                width: 100%;

                border-radius: 200px;
              }
            }

            h2 {
              color: black;
              font-size: 2.2rem;
              font-weight: normal;
              margin-top: 10px;
            }

            .divi {
              height: 2px;
              width: 50px;

              background: #e74040;

              margin-top: 20px;
            }

            .card-modalidades-inside-container {
              font-size: 1.4rem;

              color: #737373;

              width: 100%;
              height: 100%;

              p {

                height: 100px;

                margin-top: 10px;
    
                overflow-y: auto;
                
                &::-webkit-scrollbar{
                    width: 12px;    
                    margin-left: 50px;  
                }
    
                &::-webkit-scrollbar-track{
                  background: rgba(128, 128, 128, 0.233); 
                  border-radius: 20px;   
                }
    
                &::-webkit-scrollbar-thumb{
                  background-color:  #d20105;    /* color of the scroll thumb */
                  border-radius: 20px;       /* roundness of the scroll thumb */
                  border: 3px solid rgba(128, 128, 128, 0.233);
                }
              }
            }
          }
        }
      }
    }
  }

  #generic-container-quadrado {
    height: 20vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    #generic-quadrado {
      width: 140px;
      height: 22px;

      background: #ffffff;
      box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50px;

      margin-right: 26px;
    }
    padding-bottom: 18px;
  }
}
