@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
header {
  height: 116px;
  width: 100%;
  background: #d40105;
}

header nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #logo {
  width: 30%;
  margin: 1.5rem 0 0 9%;
}

@media (max-width: 990px) {
  header nav #logo {
    padding-left: 38.5%;
  }
}

header nav #btn-mobile-menu {
  display: none;
}

@media (max-width: 990px) {
  header nav #btn-mobile-menu {
    display: initial;
  }
}

header nav #btn-mobile-menu div {
  height: 2px;
  width: 32px;
  border-radius: 2px;
  background: #fff;
  margin: 8px;
}

header nav .dropdown {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1270px) {
  header nav .dropdown {
    gap: 4rem;
  }
}

@media (max-width: 1108px) {
  header nav .dropdown {
    gap: 2rem;
  }
}

@media (max-width: 990px) {
  header nav .dropdown {
    position: absolute;
    top: 115px;
    width: 100%;
    height: 100vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(210, 1, 5, 0.88);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 999;
  }
}

header nav .dropdown .active {
  width: 102.92px;
  height: 54.49px;
  left: 407px;
  top: 31px;
  background: #ffffff;
  border-radius: 5px;
  color: #d20105;
}

header nav .dropdown button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

header nav .dropdown button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54.49px;
  width: 102.92px;
}

header nav .dropdown button a:hover {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .dropdown div button {
  height: 54.49px;
  width: 102.92px;
}

header nav .dropdown div button span:hover {
  height: 54.49px;
  width: 102.92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .dropdown #botao-portal {
  width: 20rem;
  height: 63px;
  background: #02447e;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

header nav .dropdown #botao-portal:hover {
  background: #074c88;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .dropdown #botao-portal:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 1270px) {
  header nav .dropdown #botao-portal {
    width: 15rem;
    height: 50px;
  }
}

@media (max-width: 990px) {
  header nav .dropdown #botao-portal {
    width: 20rem;
  }
}

header nav .dropdown #botao-portal a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .servicos,
header nav .eventos {
  position: relative;
  z-index: 99;
}

header nav .servicos ul,
header nav .eventos ul {
  width: 172.09px;
  background-color: #d40105;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 15px;
  font-family: Nunito;
  font-weight: bold;
  margin-top: 30px;
  right: -46px;
  position: absolute;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

header nav .servicos ul li a,
header nav .eventos ul li a {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .servicos ul li a:hover,
header nav .eventos ul li a:hover {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .servicos button:focus + ul,
header nav .eventos button:focus + ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

footer {
  height: 116px;
  width: 100vw;
  background: #011351;
  -webkit-box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

@media (max-width: 547px) {
  footer {
    height: 90px;
    font-size: 2rem;
  }
}

@media (max-width: 439px) {
  footer {
    height: 70px;
    font-size: 1.5rem;
  }
}

@media (max-width: 351px) {
  footer {
    height: 65px;
    font-size: 1.3rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
/*# sourceMappingURL=erro-404.css.map */