@font-face {
    font-family: "Nunito";
    src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");
}
.container{
    width: 100%;
    background: linear-gradient(292.27deg, #114370 -3.36%, #256296 67.15%, #327FBD 102.41%);
    font-family:  "Nunito";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.erro{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-top: -5%;
}
.error-header{
    display: flex;
    align-items: center;
    gap: 2%;
}
.error-header h1{
    width: 90%;
    font-weight: 400;
    font-size: 4rem;
}
.card h2{
    font-weight: 400;
    font-size: 3rem;
    margin-left: 4%;
}
.card li{
    font-size: 2rem;
}
.card ul{
    margin-left: 8%;
}
.card{
    background: #7AAAD0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    width: 55%;
}