@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
header {
  height: 116px;
  width: 100vw;
  background: #d40105;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

header nav #btn-mobile-menu {
  display: none;
}

@media (max-width: 990px) {
  header nav #btn-mobile-menu {
    display: initial;
  }
}

header nav #btn-mobile-menu div {
  height: 2px;
  width: 32px;
  border-radius: 2px;
  background: #fff;
  margin: 8px;
}

header nav #logo {
  width: 68.75%;
  margin: 1.5rem 0 0 7%;
}

@media (max-width: 990px) {
  header nav #logo {
    padding-left: 38.5%;
  }
}

header nav #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.5rem;
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 1270px) {
  header nav #menu {
    gap: 4rem;
  }
}

@media (max-width: 1108px) {
  header nav #menu {
    gap: 2rem;
  }
}

@media (max-width: 990px) {
  header nav #menu {
    position: absolute;
    top: 115px;
    width: 100%;
    height: 100vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(210, 1, 5, 0.88);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    font-size: 2.5rem;
    font-weight: 700;
    z-index: 999;
  }
}

header nav #menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav #menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.292rem;
  height: 54.49px;
}

@media (max-width: 1270px) {
  header nav #menu li {
    font-size: 1.8rem;
    width: 10rem;
    height: 50px;
  }
}

header nav #menu li:first-child {
  background: #ffffff;
  border-radius: 5px;
  color: #d20105;
}

@media (max-width: 990px) {
  header nav #menu li:first-child {
    background: none;
    color: white;
  }
  header nav #menu li:first-child:hover {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

header nav #menu li:hover:nth-child(n + 2):nth-child(-n + 5) {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav #menu li a {
  width: 20rem;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #menu #botao-portal {
  width: 20rem;
  height: 63px;
}

@media (max-width: 1270px) {
  header nav #menu #botao-portal {
    width: 15rem;
    height: 50px;
  }
}

@media (max-width: 990px) {
  header nav #menu #botao-portal {
    width: 20rem;
  }
}

header nav #menu #botao-portal a {
  background: #02447e;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media (max-width: 990px) {
  header nav #menu #botao-portal a {
    background: #011351;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

header nav #menu #botao-portal a:hover {
  background: #074c88;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav #menu #botao-portal:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#home {
  height: 99vh;
  width: 100vw;
}

#home .swiper1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#home .swiper1 .swiper-wrapper #slide01 {
  background-image: url(../img/index/home/bg01.svg);
  background-size: cover;
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .swiper1 .swiper-wrapper #slide01 h1 {
  color: white;
  font-family: Poppins;
  font-size: 7rem;
  font-weight: 300;
}

@media (max-width: 980px) {
  #home .swiper1 .swiper-wrapper #slide01 h1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 6rem;
  }
}

@media (max-width: 867px) {
  #home .swiper1 .swiper-wrapper #slide01 h1 {
    font-size: 5rem;
  }
}

@media (max-width: 759px) {
  #home .swiper1 .swiper-wrapper #slide01 h1 {
    font-size: 4rem;
  }
}

@media (max-width: 629px) {
  #home .swiper1 .swiper-wrapper #slide01 h1 {
    width: 50%;
    font-size: 5rem;
  }
}

#home .swiper1 .swiper-wrapper #slide01 a {
  height: 10rem;
  width: 38.1rem;
  background: #327fbd;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px 40px #327fbd inset, 0 0 0 0 #327fbd, 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 40px 40px #327fbd inset, 0 0 0 0 #327fbd, 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 150ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: 300;
  color: white;
  margin-top: 7rem;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

#home .swiper1 .swiper-wrapper #slide01 a:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#home .swiper1 .swiper-wrapper #slide01 a:hover {
  -webkit-box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
          box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  font-size: 44px;
}

@media (max-width: 867px) {
  #home .swiper1 .swiper-wrapper #slide01 a {
    height: 8rem;
    width: 35rem;
  }
}

@media (max-width: 629px) {
  #home .swiper1 .swiper-wrapper #slide01 a {
    height: 6rem;
    width: 25rem;
    font-size: 30px;
  }
}

#home .swiper1 .swiper-wrapper #slide02 {
  background-image: url(../img/index/home/bg02.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#home .swiper1 .swiper-wrapper #slide03 {
  background-image: url(../img/index/home/bg03.png);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#home .swiper1 .swiper-button-prev {
  height: 8rem;
  width: 8rem;
  background: rgba(255, 255, 255, 0.24);
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: gray;
  margin-left: -20px;
}

#home .swiper1 .swiper-button-prev:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 867px) {
  #home .swiper1 .swiper-button-prev {
    width: 6rem;
  }
}

@media (max-width: 629px) {
  #home .swiper1 .swiper-button-prev {
    height: 6rem;
    margin-top: 10px;
  }
}

@media (max-width: 491px) {
  #home .swiper1 .swiper-button-prev {
    display: none;
  }
}

#home .swiper1 .swiper-button-next {
  height: 8rem;
  width: 7rem;
  background: rgba(255, 255, 255, 0.24);
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0 0 10px;
  color: gray;
  margin-right: -10px;
}

#home .swiper1 .swiper-button-next:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 867px) {
  #home .swiper1 .swiper-button-next {
    width: 6rem;
  }
}

@media (max-width: 629px) {
  #home .swiper1 .swiper-button-next {
    height: 6rem;
    margin-top: 10px;
  }
}

@media (max-width: 491px) {
  #home .swiper1 .swiper-button-next {
    display: none;
  }
}

#modalidades-ensino {
  height: auto;
  width: 100vw;
  padding-top: 52px;
  background-color: #d20105;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#modalidades-ensino #titulo-modalidades {
  height: 98px;
  width: 54.5%;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modalidades-ensino #titulo-modalidades h1 {
  color: rgba(210, 1, 5, 0.88);
  font-size: 3.5rem;
  font-weight: 300;
  margin-left: 12.5%;
}

@media (max-width: 1245px) {
  #modalidades-ensino #titulo-modalidades h1 {
    font-size: 3rem;
  }
}

@media (max-width: 990px) {
  #modalidades-ensino #titulo-modalidades h1 {
    font-size: 2rem;
  }
}

@media (max-width: 990px) {
  #modalidades-ensino #generic-container-modalidades {
    display: none;
  }
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 67px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers .card-modalidades {
  width: 328px;
  height: 344px;
  background-color: white;
  -webkit-box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 40px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers .card-modalidades h2 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-top: 10px;
}

#modalidades-ensino #generic-container-modalidades #card-modalidades-containers .card-modalidades .card-modalidades-inside-container {
  font-size: 1.4rem;
  color: #737373;
  margin-top: 50px;
  width: 221px;
}

#modalidades-ensino #generic-container-modalidades-mobile {
  display: none;
  padding-bottom: 40px;
}

@media (max-width: 990px) {
  #modalidades-ensino #generic-container-modalidades-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 67px;
  }
  #modalidades-ensino #generic-container-modalidades-mobile .swiper-container.swiper2 {
    width: 240px;
    height: 320px;
  }
  #modalidades-ensino #generic-container-modalidades-mobile .swiper-container .swiper-slide.teste {
    width: 328px;
    height: 344px;
    background-color: white;
    -webkit-box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: inset 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 40px;
  }
  #modalidades-ensino #generic-container-modalidades-mobile .swiper-container .swiper-slide.teste h2 {
    color: black;
    font-size: 2.2rem;
    font-weight: normal;
    margin-top: 10px;
  }
  #modalidades-ensino #generic-container-modalidades-mobile .swiper-container .swiper-slide.teste .card-modalidades-inside-container {
    font-size: 1.4rem;
    color: #737373;
    margin-top: 50px;
    width: 221px;
  }
}

#modalidades-ensino #generic-container-quadrado {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 18px;
}

#modalidades-ensino #generic-container-quadrado #generic-quadrado {
  width: 140px;
  height: 22px;
  background: #ffffff;
  -webkit-box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-right: 26px;
}

#quem-somos {
  height: auto;
  width: 100%;
}

#quem-somos #quem-somos-generic-container h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 6.5rem;
  font-weight: 400;
  margin-top: 136px;
  margin-left: 6.5%;
}

#quem-somos #quem-somos-generic-container h1 .barra {
  height: 7px;
  width: 62%;
  border-radius: 50px;
  background-color: #7AAAD0;
}

@media (max-width: 500px) {
  #quem-somos #quem-somos-generic-container h1 {
    font-size: 4rem;
  }
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container #left-quem-somos-container {
  width: 760px;
  padding-left: 6.5%;
  padding-top: 71px;
}

#quem-somos #quem-somos-generic-container #left-right-quem-somos-container #left-quem-somos-container p {
  width: 653px;
  height: 330px;
  text-align: justify;
  font-size: 2rem;
}

@media (max-width: 768px) {
  #quem-somos #quem-somos-generic-container #left-right-quem-somos-container #left-quem-somos-container p {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 1360px) {
  #quem-somos #quem-somos-generic-container #left-right-quem-somos-container #right-quem-somos-container {
    width: 30%;
  }
}

@media (max-width: 1086px) {
  #quem-somos #quem-somos-generic-container #left-right-quem-somos-container #right-quem-somos-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  #quem-somos #quem-somos-generic-container #left-right-quem-somos-container #right-quem-somos-container img {
    width: 80%;
  }
}

#contato {
  height: auto;
  width: 100vw;
  background: #d40105;
  padding-top: 42px;
  padding-bottom: 60px;
}

#contato #titulo {
  height: 98px;
  width: 408px;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 7px 4px rgba(0, 0, 0, 0.25);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contato #titulo h1 {
  color: rgba(210, 1, 5, 0.88);
  font-size: 5rem;
  font-weight: 300;
  margin-left: 50px;
}

#contato #generic-container-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contato #generic-container-contato #esquerda {
  width: 50%;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #mapa {
  border: 30px;
  margin-top: 60px;
  margin-left: 78px;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #mapa iframe {
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco {
  height: 215px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 44px;
  margin-left: 78px;
  padding: 30px;
  font-size: 2em;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco img {
  margin-right: 30px;
}

#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco #telefone,
#contato #generic-container-contato #esquerda #contato-main #mapa-endereco #endereco #email {
  margin-top: 15px;
}

#contato #generic-container-contato #direita {
  width: 50%;
  padding-left: 78px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario {
  margin-top: 31px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #nome-form,
#contato #generic-container-contato #direita #formulario-redes #formulario form #email-form,
#contato #generic-container-contato #direita #formulario-redes #formulario form #tel-form,
#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form {
  width: 75%;
  height: 49px;
  background: #ffffff;
  border: 0;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 27px;
  text-indent: 15px;
  font-size: 20px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #nome-form::-webkit-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #email-form::-webkit-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #tel-form::-webkit-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form::-webkit-input-placeholder {
  color: #C3BEBE;
  font-size: 25px;
  padding-left: 19px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #nome-form:-ms-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #email-form:-ms-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #tel-form:-ms-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form:-ms-input-placeholder {
  color: #C3BEBE;
  font-size: 25px;
  padding-left: 19px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #nome-form::-ms-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #email-form::-ms-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #tel-form::-ms-input-placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form::-ms-input-placeholder {
  color: #C3BEBE;
  font-size: 25px;
  padding-left: 19px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #nome-form::placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #email-form::placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #tel-form::placeholder,
#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form::placeholder {
  color: #C3BEBE;
  font-size: 25px;
  padding-left: 19px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #mens-form {
  height: 151px;
}

#contato #generic-container-contato #direita #formulario-redes #formulario form #enviar-button {
  width: 140px;
  height: 56px;
  margin-top: 27px;
  margin-left: 54%;
  background: #02447e;
  border: none;
  -webkit-box-shadow: -2px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -2px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.88);
  font-size: 2.5rem;
}

#contato #generic-container-contato #redes {
  margin-top: 30px;
  margin-left: 260px;
}

#contato #generic-container-contato #redes img {
  margin-right: 13px;
}

#instagram {
  height: auto;
  width: 100%;
  background: white;
  padding-bottom: 67px;
}

#instagram h1 {
  font-size: 6.5rem;
  font-weight: 400;
  margin-left: 6.5%;
  padding-bottom: 72px;
  padding-top: 153px;
}

#instagram h1 .barra {
  height: 7px;
  width: 16%;
  border-radius: 50px;
  background-color: #7AAAD0;
}

@media (max-width: 500px) {
  #instagram h1 {
    font-size: 4rem;
  }
}

#instagram #container-generic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#instagram #container-generic #nosso-instagram-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 27px;
}

#instagram #container-generic #nosso-instagram-fotos a img {
  height: 337px;
  width: 368px;
  border-radius: 10px;
}

#instagram #container-generic #nosso-instagram-fotos a img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1709px) {
  #instagram #container-generic #nosso-instagram-fotos {
    width: 80%;
  }
}

@media (max-width: 841px) {
  #instagram #container-generic #nosso-instagram-fotos {
    display: none;
  }
}

#instagram #container-generic-mobile #nosso-instagram-fotos-mobile {
  display: none;
}

#instagram #container-generic-mobile #nosso-instagram-fotos-mobile .swiper4 {
  overflow: hidden;
}

#instagram #container-generic-mobile #nosso-instagram-fotos-mobile .swiper4 .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 410px) {
  #instagram #container-generic-mobile #nosso-instagram-fotos-mobile .swiper4 .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
}

#instagram #container-generic-mobile #nosso-instagram-fotos-mobile .swiper4 .swiper-pagination4 {
  text-align: center;
}

@media (max-width: 841px) {
  #instagram #container-generic-mobile #nosso-instagram-fotos-mobile {
    display: initial;
  }
}

#estrutura-escolar {
  height: auto;
  width: 100vw;
}

#estrutura-escolar h1 {
  font-size: 6.5rem;
  font-weight: 400;
  margin-left: 6.5%;
  padding-bottom: 72px;
  padding-top: 153px;
}

#estrutura-escolar h1 .barra {
  height: 7px;
  width: 16%;
  border-radius: 50px;
  background-color: #7AAAD0;
}

@media (max-width: 500px) {
  #estrutura-escolar h1 {
    font-size: 4rem;
    padding-top: 100px;
  }
}

#estrutura-escolar #estrutura-escolar-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

@media (min-width: 1709px) {
  #estrutura-escolar #estrutura-escolar-fotos {
    margin-right: 200px;
  }
}

@media (max-width: 841px) {
  #estrutura-escolar #estrutura-escolar-fotos {
    display: none;
  }
}

#estrutura-escolar #estrutura-escolar-fotos #foto-overlay {
  position: absolute;
  top: 0;
  left: 4px;
  width: 98.05%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#estrutura-escolar #estrutura-escolar-fotos #foto-overlay:hover {
  opacity: 1;
}

#estrutura-escolar #estrutura-escolar-fotos #foto-overlay p {
  height: 80px;
  width: 100%;
  background: rgba(210, 1, 5, 0.8);
  border-radius: 5px;
  color: white;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
  text-transform: uppercase;
}

#estrutura-escolar #estrutura-escolar-fotos #container-foto-overlay {
  position: relative;
}

#estrutura-escolar #estrutura-escolar-fotos #container-foto-overlay #img {
  display: block;
  width: 100%;
}

#estrutura-escolar #estrutura-escolar-fotos-mobile {
  display: none;
}

#estrutura-escolar #estrutura-escolar-fotos-mobile .swiper3 {
  overflow: hidden;
}

#estrutura-escolar #estrutura-escolar-fotos-mobile .swiper3 .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 410px) {
  #estrutura-escolar #estrutura-escolar-fotos-mobile .swiper3 .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
}

#estrutura-escolar #estrutura-escolar-fotos-mobile .swiper3 .swiper-pagination3 {
  text-align: center;
}

@media (max-width: 841px) {
  #estrutura-escolar #estrutura-escolar-fotos-mobile {
    display: initial;
  }
}

#eventos-fotos {
  height: auto;
  width: 100%;
}

#eventos-fotos #container-eventos-fotos {
  padding-top: 148px;
  padding-left: 7%;
}

#eventos-fotos #container-eventos-fotos #eventos-fotos-titulo {
  height: 120px;
  width: 564px;
  background-color: #d20105;
  color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 500px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990px) {
  #eventos-fotos #container-eventos-fotos #eventos-fotos-titulo {
    height: 100px;
  }
}

@media (max-width: 768px) {
  #eventos-fotos #container-eventos-fotos #eventos-fotos-titulo {
    width: 80%;
  }
}

#eventos-fotos #container-eventos-fotos #eventos-fotos-titulo h1 {
  font-size: 45px;
  font-weight: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 990px) {
  #eventos-fotos #container-eventos-fotos #eventos-fotos-titulo h1 {
    font-size: 40px;
  }
}

@media (max-width: 530px) {
  #eventos-fotos #container-eventos-fotos #eventos-fotos-titulo h1 {
    font-size: 35px;
  }
}

@media (max-width: 376px) {
  #eventos-fotos #container-eventos-fotos #eventos-fotos-titulo h1 {
    font-size: 27px;
  }
}

#eventos-fotos #container-eventos-fotos #container-generic-fotos {
  height: auto;
  width: 93.8%;
  background: linear-gradient(292.27deg, #02447e -3.36%, #256296 67.15%, #327fbd 102.41%);
  -webkit-box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 10px;
}

#eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 19px;
  padding-top: 61px;
}

#eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos a:first-child {
  display: none;
}

@media (max-width: 918px) {
  #eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos a:nth-child(n + 5):nth-child(-n+7) {
    display: none;
  }
}

@media (max-width: 496px) {
  #eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos a img {
  height: 297px;
  width: 391px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media (max-width: 496px) {
  #eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos a img {
    height: 90%;
    width: 80%;
  }
}

#eventos-fotos #container-eventos-fotos #container-generic-fotos #container-fotos a img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#eventos-fotos #container-eventos-fotos #container-button {
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#eventos-fotos #container-eventos-fotos #container-button button {
  height: 63px;
  width: 200px;
  background: #d20105;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#eventos-fotos #container-eventos-fotos #container-button button:hover {
  background: #e72427;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#eventos-fotos #container-eventos-fotos #container-button button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#calendario h1 {
  font-size: 6.5rem;
  font-weight: 400;
  margin-left: 6.5%;
  padding-bottom: 72px;
  padding-top: 153px;
}

#calendario h1 .barra {
  height: 7px;
  width: 16%;
  border-radius: 50px;
  background-color: #7AAAD0;
}

@media (max-width: 500px) {
  #calendario h1 {
    font-size: 4rem;
  }
}

#calendario #calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 116px;
  width: 100vw;
  background: #011351;
  -webkit-box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 10px 6px rgba(0, 0, 0, 0.25);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

@media (max-width: 547px) {
  footer {
    height: 90px;
    font-size: 2rem;
  }
}

@media (max-width: 439px) {
  footer {
    height: 70px;
    font-size: 1.5rem;
  }
}

@media (max-width: 351px) {
  footer {
    height: 65px;
    font-size: 1.3rem;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

* a {
  color: inherit;
  text-decoration: none;
}

* li {
  list-style: none;
}

* li a {
  color: inherit;
  text-decoration: none;
}

* button {
  cursor: pointer;
}

* textarea:focus,
* input:focus,
* select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

html {
  /* a cada 1rem será consideredo 10px */
  font-size: 62.5%;
  overflow-x: hidden;
}

main {
  height: 800%;
}
/*# sourceMappingURL=main.css.map */