$background-color: #d40105;

header {
    height: 116px;
    width: 100vw;
  
    background: $background-color;




    
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      margin-right: 3rem;

      
  
      #btn-mobile-menu {
        display: none;
  
        @media (max-width: 990px) {
          display: initial;
        }
  
        div {
          height: 2px;
          width: 32px;
  
          border-radius: 2px;
          background: #fff;
  
          margin: 8px;
        }
      }
  
      #logo {
        width: 68.75%;
        margin: 1.5rem 0 0 7%;
  
        @media (max-width: 990px) {
          padding-left: 38.5%;
        }

        @media (max-width:600px){
          img{
            width: 50%;
          }
        }
      }
  
      #menu {
        display: flex;
        gap: 5.5rem;
  
        @media (max-width: 1270px) {
          gap: 4rem;
        }
  
        @media (max-width: 1108px) {
          gap: 2rem;
        }
  
        color: white;
        font-size: 2rem;
        font-weight: 400;
  
        @media (max-width: 990px) {
          position: absolute;
          top: 115px;
  
          width: 100%;
          height: 100vh;
  
          display: none;
  
          flex-direction: column;
  
          background: rgba(210, 1, 5, 0.88);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 0px 0px 10px 10px;
  
          
  
          font-size: 2.5rem;
          font-weight: 700;
  
          z-index: 999;
        }
  
        &.active {
          display: flex;
        }
  
        li {
          display: flex;
          justify-content: center;
          align-items: center;
  
          width: 10.292rem;
          height: 54.49px;
  
          
  
          @media (max-width: 1270px) {
            font-size: 1.8rem;
  
            width: 10rem;
            height: 50px;
          }
  
          &:first-child {
            background: #ffffff;
            border-radius: 5px;
            color: #d20105;
  
            @media (max-width: 990px) {
              background: none;
              color: white;
  
              &:hover{
                background: rgba(255, 255, 255, 0.22);
                border-radius: 5px;
                transition: 0.3s ease;
              }
            }
          }
  
          &:hover:nth-child(n + 2):nth-child(-n + 5) {
            background: rgba(255, 255, 255, 0.22);
            border-radius: 5px;
            transition: 0.3s ease;
          }
  
          a {
            width: 20rem;
            height: 63px;
  
            display: flex;
            justify-content: center;
            align-items: center;
          }
  
        }
  
        #botao-portal {
          width: 20rem;
          height: 63px;
  
          @media (max-width: 1270px) {
            width: 15rem;
            height: 50px;
          }
  
          @media (max-width: 990px) {
            width: 20rem;
          }
  
  
          a {
            background: #02447e;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
  
            @media (max-width: 990px) {
              background: #011351;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
  
            &:hover {
              background: #074c88;
              transition: 0.3s ease;
            }
          }
          &:active {
            transform: translateY(4px);
          }
        }
  
      }
  
    }
  }