body {
  height: auto;
}

main {
  padding-left: 9.5%;
  padding-top: 107px;

  #titulo {
    display: flex;

    #barra {
      height: 10vh;
      width: 1%;
      border-radius: 10px;
      background-color: white;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    h1 {
      color: white;

      font-size: 55px;
      font-weight: normal;

      padding-left: 10px;

      @media (max-width: 452px) {
        font-size: 40px;
      }
    }
  }

  #pesquisa {
    padding-top: 81px;
    display: flex;
    justify-content: space-between;

    #pesquisaform {
      height: 60px;
      width: 39.5rem;

      background: none;

      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      input {
        height: 60px;
        width: 39.5rem;

        border: none;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        @media (max-width: 619px) {
          width: 70%;
        }
      }

      button {
        position: absolute;
        height: 60px;

        border: none;
        background: #ffffff;

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        img {
          margin-right: 10px;
        }
      }
    }

    #seletor {
      margin-right: 13%;

      @media (max-width: 1106px) {
        display: none;
      }

      input {
        height: 60px;
        width: 39.5rem;

        border: none;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        @media (max-width: 544px) {
          width: 93%;
          background-position: 90%;
        }
      }

      select {
        height: 60px;
        width: 277px;

        background: #ffffff;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; /* Remove default arrow */
        background-image: url(/img/eventos-e-fotos/arrow.svg); /* Add custom arrow */
        background-repeat: no-repeat;
        background-position: 90% 50%;
      }
    }
  }

  #posts {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;

    padding-top: 77px;
    padding-bottom: 52px;

    @media (max-width: 851px) {
      justify-content: center;

      a {
        &:nth-child(n + 6):nth-child(-n + 9) {
          display: none;
        }
      }
    }

    @media (max-width: 439px) {
      width: 92%;

      a {
        &:nth-child(n + 4):nth-child(-n + 9) {
          display: none;
        }
      }
    }

    .post {
      height: 426px;
      width: 371px;

      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 5px;

      padding-top: 10px;
      padding-left: 11px;

      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media (max-width: 439px) {
        width: 100%;
        height: auto;
      }

      &:hover {
        border: 1px solid #2d75af;
        box-shadow: inset 0 0 10px #2d74af8a;
      }

      .img-container {
        height: 272px;
        width: 349px;

        box-shadow: inset 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        @media (max-width: 439px) {
          height: auto;
          width: 95%;
          box-shadow: none;
        }

        img {
          height: 272px;
          width: 349px;

          box-shadow: inset 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
          border-radius: 5px;

          @media (max-width: 439px) {
            width: 100%;
          }
        }
      }

      .titulo-container {
        padding-top: 23px;

        h1 {
          font-size: 25px;
          @media (max-width: 439px) {
            font-size: 20px;
          }
        }

        @media (max-width: 439px) {
          padding-bottom: 50px;
        }
      }
    }
  }
}

#paginacao {
  display: flex;
  gap: 22px;

  .quadrado {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-size: 25px;

    &.active {
      background: #7aaad0;
    }
  }
  padding-bottom: 288px;
}
